@import url(../feynman/__link/feynman__link.css);
@import url(../feynman/__subtitle/feynman__subtitle.css);
@import url(../feynman/__title/feynman__title.css);
.feynman {
  position: relative;
  min-height: 890px;
  background: no-repeat left bottom url(../../images/feynman.png), #F2F2F2;
}